# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
config.env
*.env

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Production build
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.code-workspace
.history/

# Temporary files
*.swp
*.swo
*.tmp
*~
